@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* Base Styles and Nav */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-family-primary: 'Vollkorn', serif;
  --font-family-secondary: 'PT Sans', sans-serif;
  
  --font-size-title: 32px;
  --line-height-title: 1.4;
  --font-size-caption: 14px;
  --line-height-caption: 1.2;
  
  --color-text: #222022;
  --color-highlight-primary: #FFEF7E;
  --color-highlight-secondary: #B7F9E9;
  --border-radius-primary: 32px; 
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #008fb3;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #008fb3;
}
.content {
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loading and User Fetch Notice */
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side, #000 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: l24 0.5s infinite alternate linear;
}
.loader::before {
  content: "Loading Blogs...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #000);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}

/* Blogs */
.blog-list{
  display:flex;
  
}

.card {
  max-width: 960px;
  border-radius: var(--border-radius-primary);
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 28px 20px;
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card__image {
  width: 100%;
  max-height: 300px;
  border-radius: var(--border-radius-primary);
  object-fit: cover;
  margin-bottom: 18px;

  @include mediaBig {
    width: 45%;
    max-height: none;
    min-height: 400px;
    margin-bottom: 0;
  }
}

.card__content {
  @include mediaBig {
    width: 55%;
    padding-left: 40px;
  }
}

.card__author {
  display: block;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  text-transform: uppercase;
  color: var(--color-text);
  margin-bottom: 6px;

  @include mediaBig {
    margin-bottom: 8px;
  }
}

.card__title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  color: var(--color-text);
  box-decoration-break: clone;
  background-image: linear-gradient(
    90deg,
    var(--color-highlight-primary),
    var(--color-highlight-secondary)
  );
  background-size: 100% 42%;
  background-repeat: no-repeat;
  background-position: 0 85%;
  padding: 0 4px;
  margin-left: -4px;
}

.blog-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 5rem;
  border-radius: var(--border-radius-primary);
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
}

.blog-details article {  
  padding: 20px;
  box-sizing: border-box;
  margin: 20px;
}

.blog-details img:hover {
  box-shadow: 0px 0px 24px 12px rgba(0, 122, 183, 0.2);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out; /* Smooth effect */
}

.description{
  margin-top: 1rem;
}
